<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>packServlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarViajes</servlet-name>
        <servlet-class>packServlets.BuscarViajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>packServlets.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viaje</servlet-name>
        <servlet-class>packServlets.Viaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginOut</servlet-name>
        <servlet-class>packServlets.LoginOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicarViaje</servlet-name>
        <servlet-class>packServlets.PublicarViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarViaje</servlet-name>
        <servlet-class>packServlets.EliminarViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReserva</servlet-name>
        <servlet-class>packServlets.EliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReservaPasajero</servlet-name>
        <servlet-class>packServlets.EliminarReservaPasajero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarReserva</servlet-name>
        <servlet-class>packServlets.RealizarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarViajes</servlet-name>
        <url-pattern>/BuscarViajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viaje</servlet-name>
        <url-pattern>/Viaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginOut</servlet-name>
        <url-pattern>/LoginOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarViaje</servlet-name>
        <url-pattern>/PublicarViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarViaje</servlet-name>
        <url-pattern>/EliminarViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReserva</servlet-name>
        <url-pattern>/EliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReservaPasajero</servlet-name>
        <url-pattern>/EliminarReservaPasajero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarReserva</servlet-name>
        <url-pattern>/RealizarReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file> index.jsp </welcome-file>
    </welcome-file-list>
</web-app>
